@model Product
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}


<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div asp-validation-summary="All">

            </div>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>Ürün Adı</label>
                    <input asp-for="ProductName" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Alış Fiyatı</label>
                    <input asp-for="PurchasePrice" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Fiyat</label>
                    <input asp-for="UnitPrice" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Stok Miktarı</label>
                    <input asp-for="UnıtsInStock" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Barkod Numarası</label>
                    <input asp-for="BarcodeNumber" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <select class="form-control" name="SubCategoryId">
                        @foreach (var subCategory in ViewBag.subCategories as List<SubCategory>)
                        {
                            <option value="@subCategory.Id">@subCategory.SubCategoryName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <select class="form-control" name="SupplierId">
                        @foreach (var supplier in ViewBag.suppliers as List<Supplier>)
                        {
                            <option value="@supplier.Id">@supplier.CompanyName</option>
                        }
                    </select>
                </div>
                <div class="form-group">
                    <label>Ürün Resmi</label>
                    <input asp-for="ImageFile" accept="image/png,image/jpeg,image/jfif" />
                </div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>