@model Expense
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Accounting/Views/Shared/_Layout.cshtml";

    var dolar = ViewBag.Dolar;
    var euro = ViewBag.Euro;
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div asp-validation-summary="All">

            </div>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <select class="form-control" asp-for="Payments">
                        <option value="0">Fatura</option>
                        <option value="1">Teknik Alt Yapı</option>
                        <option value="2">Diğer Giderler</option>
                    </select>
                </div>
                <div class="form-group">
                    <label>Tutar</label>
                    <input asp-for="Amount" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Dolar Kuru</label>
                    <input asp-for="Dolar" type="number" value="@dolar" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Euro Kuru</label>
                    <input asp-for="Euro" type="number" value="@euro" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Ödeme Açıklaması</label>
                    <input asp-for="Explanation" type="text" class="form-control" />
                </div>

                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>


