@model Customer
@{
    ViewData["Title"] = "Create";
    Layout = "~/Areas/Admin/Views/Shared/_Layout.cshtml";
}

<div class="container">
    <div class="row">
        <div class="col-md-6 mx-auto">
            <div asp-validation-summary="All">

            </div>
            <form asp-action="Create" method="post" enctype="multipart/form-data">
                <div class="form-group">
                    <label>TC Kimlik No</label>
                    <input asp-for="TC" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Müşteri Adı</label>
                    <input asp-for="CustomerName" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Email Adresi</label>
                    <input asp-for="EmailAddress" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Adres</label>
                    <input asp-for="Address" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Telefon Numarası</label>
                    <input asp-for="Phone" type="text" class="form-control" />
                </div>
                <div class="form-group">
                    <label>Doğum Tarihi</label>
                    <input asp-for="BirthDate" type="date" class="form-control" />
                </div>
                <button type="submit" class="btn btn-primary">Kaydet</button>
            </form>
        </div>
    </div>
</div>

